<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iraqoz.moviecatalog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/series"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalog">
        <activity android:name=".ItemTemplateActivity"></activity>
        <activity
            android:name=".AnimationsActivity"
            android:label="Animations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeriesActivity"
            android:label="Tv Shows"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MoviesActivity"
            android:label="Movies"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>